<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.farmit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmIt"
        tools:targetApi="p">
        <activity
            android:name=".itemDetail"
            android:exported="false"
            android:parentActivityName=".sellingactivity"
            />
        <activity
            android:name=".sellitem"
            android:exported="false"
            android:parentActivityName=".sellingactivity" />
        <activity
            android:name=".jobdesc"
            android:exported="false"
            android:parentActivityName=".jobactivity" />
        <activity
            android:name=".createjob"
            android:exported="false"
            android:parentActivityName=".jobactivity" />
        <activity
            android:name=".addcrop"
            android:exported="false"
            android:parentActivityName=".profileactivity" />
        <activity
            android:name=".sellingactivity"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".jobactivity"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".profileactivity"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>